apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  virtual_host: "vhost1.localhost.com"
  index.html: |
    <html>
      <h1>Opa! Chegou o novo html</h1>
    </html>
  vhost.conf: |
    server {
      listen 80;
      listen [::]:80;

      root /usr/share/nginx/app;
      index index.html index.htm index.nginx-debian.html;

      server_name app.localhost.com www.app.localhost.com;

      location / {
        try_files $uri $uri/ =404;
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - image: nginx
        name: nginx
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        volumeMounts:
          - name: config-index-html-vhost
            mountPath: /usr/share/nginx/app/index.html
            subPath: index.html
          - name: config-index-html-vhost
            mountPath: /etc/nginx/conf.d/vhost.conf
            subPath: vhost.conf
      volumes:
        - name: config-index-html-vhost
          configMap:
            name: nginx-config 