apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  virtual_host: "vhost1.localhost.com"
  index.html: |
    <html>
      <h1>Opa! Chegou o novo html</h1>
    </html>
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - image: nginx
        name: nginx
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        env:
          - name: VIRTUAL_HOST 
            valueFrom:
              configMapKeyRef:
                name: nginx-config
                key: virtual_host
        volumeMounts:
          - name: index-html
            mountPath: "/usr/share/nginx/html/index.html"
            subPath: index.html
      volumes:
        - name: index-html
          configMap:
            name: nginx-config